{% extends 'feeds/base.html' %}

{% load static %}
{% block content %}
<head>

<style>

.content-wrapper {
  background-color: rgba(0, 0, 0, 0) !important;
  @media screen and (max-width : 768px) {
    margin-top: 50px;
  }
}
</style>
</head>


{% if user.is_authenticated %}
        {% for BackgroundTheme in theme %}
{% if BackgroundTheme.file %}
<body style="background: url('{{BackgroundTheme.file.url}}');  alt='{{ BackgroundTheme.alternate.url }}'; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        {% else %}
<body style="background: url('{{BackgroundTheme.cover.url}}');  alt='{{ BackgroundTheme.alternate.url }}'; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        {% endif %}
        {% endfor %}
<div class="row justify-content-center" style="margin-left: 250px; margin-right: 250px; background-color: rgba(0, 0, 0, 0);">
<br>
<br>

<br>
<br>
  <div class="profile__body">
      <h1 style="text-align: center; color: white;">My Friends</h1>




 {% for friend in friends %}
    {% with friend.friend.userprofile as userprofile %}
        <div class="friend-item" style="margin-left: 25%; background: rgba(0, 0, 0, 0.2); padding: 20px; border-radius: 20px;">
            <div class="friend-profile" style="display: flex; flex-direction: row;">
                {% if userprofile.profile_pic %}
                    <a href="{{ userprofile.get_profile_url }}">
                        <img src="{{ userprofile.profile_pic.url }}" alt="Profile Picture" width="50" height="50" style="border-radius: 50px; margin-right: 20px;">
                    </a>
                    <a href="{{ friend.get_profile_url }}" style="color: black; margin-top: 2%;">
                        {{ friend.friend.username }}
                    </a>
                {% else %}
                    <img class="picture-circle--small" src="{% static 'images/profile_placeholder.jpg' %}">
                    <p style="color: black; margin-left: 8px; font-size: 16px; margin-top: 4px;">{{ friend.friend.username }}</p>
                {% endif %}
            </div>
            {% if request.user.is_authenticated and friend.friend != request.user %}
                <div class="follow-toggle__container" style="margin-top: 8px;">
                    <a href="{{ friend.get_profile_url2 }}">
                        <button class="btn btn-primary generic-button">Message</button>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endfor %}


    <div class="row" style="display: flex; flex-direction: column; position: absolute; margin-left: 67.5%; background: rgba(0, 0, 0, 0.4);
    padding: 10px; top: 55px;">
<br>
    <form method="GET" action="{% url 'friend_search' %}">
    <input type="text" name="search" placeholder="Search friends..." value="{{ search_term }}">
    <button type="submit">Search</button>
</form>

        <h2 style="color: white;">Close Friends:</h2>

  <div id="friend-results">
    {% include 'feeds/friendslist_results.html' %}
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#friend-search').on('input', function() {
        var searchTerm = $(this).val();

        $.ajax({
          url: '{% url "friend-search" %}',  // Replace with the URL for the search view
          data: {
            'search': searchTerm
          },
          dataType: 'json',
          success: function(data) {
            $('#friend-results').html(data.html);  // Update the friend results with the new HTML
          }
        });
      });
    });
  </script>

</div>
    </div>
</div>
</body>
        {% else %}
<h1 style="justify-content: center; text-align: center; margin-top: 10%;">
   Please
<a href="{% url 'login' %}">
    Login
    </a>
    or
<a href="{% url 'signup' %}">
    Sign Up
</a>
    to see your friends!
</h1>

            {% endif %}
{% endblock %}
