{% extends 'feeds/base.html' %}  <!-- If you have a base template -->

{% load static %}
{% block content %}
{% if user.is_authenticated %}
<head>
<style>

.content-wrapper {
  background-color: rgba(0, 0, 0, 0) !important;
  @media screen and (max-width : 768px) {
    margin-top: 50px;
  }
}
</style>
</head>

{% for BackgroundTheme in theme %}
      {% if BackgroundTheme.currently_set %}
<body style="background-image: url({{ BackgroundTheme.cover.url }}); background-size: cover; background-attachment: fixed;">
{% else %}
<body>
{% endif %}
{% endfor %}

<div style="background-color: rgba(0, 0, 0, 0) !important;">
<br>
  <h1 style="text-align: center; color: white; text-shadow: 2px 2px black;" id="theme-id">My Communities</h1>
<br>

    <div class="row justify-content-center" id="explore" style="margin-left: 250px; margin-right: 250px;">
  {% for Community in mycommunities %}
      <a href="{{Community.invite}}">
    <div class="col-xs-12 col-sm-6 col-md-4 mb-4 theme-item"
         data-theme-id="{{ Community.id }}"
         data-cover_image-url="{{ Community.cover_image.url }}"
         style="padding: 0 15px 30px;">
      {% if Community.currently_set %}
        <div class="picture-square" style="background-image: url({{ Community.cover_image.url }}); background-size: cover;">
      {% else %}
        <div class="picture-square" style="background-image: url({{ Community.cover_image.url }}); background-size: cover; filter: brightness(60%);">
      {% endif %}
        <div class="content">{{ Community.name }}</div>
      </div>
    </div>
      </a>
  {% endfor %}
</div>


      </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</div>
</div>
{% endif %}
{% endblock %}
