{% extends 'feeds/base.html' %}

{% load static custom_tags %}

{% block content %}
<head>

<style>

.content-wrapper {
  background-color: rgba(0, 0, 0, 0) !important;
  @media screen and (max-width : 768px) {
    margin-top: 50px;
  }
}

  .single-post-card {
    height: 200%;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)) !important;
}
.card__main-image {
    max-width: 90%;
    max-height: 550px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.comment {
  white-space: normal; /* This allows the text to wrap onto the next line */
  word-wrap: break-word; /* Break long words if needed */
  overflow: hidden;
}

.left {
    left: 150px;
}

.right {
    right: 99px;
}
.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCommentCount(postId) {
        $.ajax({
            url: `/post/${postId}/comment_count/`,
            method: 'GET',
            success: function(response) {
                $('#comment-count').text(response.comment_count + ' Comments');
            }
        });
    }

    // Call updateCommentCount every 5 seconds
    var postId = "{{ post.id }}";  // Assuming 'post.id' is available in the template
    setInterval(function() {
        updateCommentCount(postId);
    }, 500);  // Update every 0.5 seconds
</script>
</head>
{% for BackgroundTheme in theme %}
      {% if BackgroundTheme.currently_set %}
<body style="background-image: url({{ BackgroundTheme.cover.url }}); background-size: cover; background-attachment: fixed;>
{% else %}
<body>
{% endif %}
{% endfor %}
<script>
  function toggleDescription() {
    var shortDescription = document.getElementById("short-description");
    var fullDescription = document.getElementById("full-description");
    var readMore = document.getElementById("read-more");

    if (fullDescription.style.display === "none") {
      shortDescription.style.display = "none";
      fullDescription.style.display = "inline";
      readMore.innerText = "Read less"; // Change button text
    } else {
      shortDescription.style.display = "inline";
      fullDescription.style.display = "none";
      readMore.innerText = "Read more"; // Change button text
    }
  }
</script>


<div class="row single-post">
  <div class="single-post-card view-update {{ post.pk }}" style="height: 100vh;">
    <div class="header">

<div class="split right" >
      <a href="{% url 'profile' post.user_profile.user.username %}">
        {% if post.user_profile.profile_pic %}
          <br>
          <br>
          <br>
          <br>
          <br>
          <img class="picture-circle--medium" src="{{ post.user_profile.profile_pic.url }}" style="border-radius: 50px; width: 50px; height: 50px; margin-left: 40%;">
        {% else %}
          <img class="picture-circle--medium" src="{% static 'images/profile_placeholder.jpg' %}">
        {% endif %}
        {{ post.user_profile.user.username }}
      </a>
          <span class="comment" style="margin-left: 10px; font-size: 20px;">{{ post.title | parse_hashtags | safe }}</span>
<br>
<br>
   <span class="comment" style=" margin-left: auto; margin-right: auto;
    z-index: 10;
    position: relative;">
  <span id="short-description">
    {{ post.description|truncatechars:200 }}
  <a href="javascript:void(0);" id="read-more" onclick="toggleDescription()" style="text-decoration: none;">Read more</a>

  </span>
  <span id="full-description" style="display: none;">
    {{ post.description }}
  </span>
   </span>

    <div class="comments-portion" style="margin-bottom: 10%;">
      <hr>
      <br>
      <h4 style="justify-content: center;" id="comment-count"> Comments</h4>
      <ul class="comment-list" class="comment-list" style="max-height: 300px; overflow-y: auto;">



        {% for comment in post.comment_set.all %}
          <li class="comment-list__comment" style="list-style-type: none;">
            <a href="{% url 'profile' comment.user.username %}" class="user">
              {% if post.user_profile.profile_pic %}
          <img class="picture-circle--medium" src="{{ post.user_profile.profile_pic.url }}" style="margin-right: 5px; border-radius: 50px; width: 50px; height: 50px;">
        {% else %}
          <img class="picture-circle--medium" src="{% static 'images/profile_placeholder.jpg' %}" style="margin-right: 5px; border-radius: 50px; width: 50px; height: 50px;">
        {% endif %}
              {{ comment.user.username }}
            </a>
            <span class="comment">{{ comment.comment }}</span>
          </li>
          <br>
        {% endfor %}
      </ul>
      <div class="likes-timestamp-row" style="margin-top: 50px; z-index: 10;">
        <hr style="margin-bottom: 20px;">
        <div class="likes">
          <a href="{% url 'likes' post.pk %}">
            {% if post.get_number_of_likes %}
              {{ post.get_number_of_likes }} Like{% if post.get_number_of_likes > 1 %}s{% endif %}
            {% endif %}
          </a>
        </div>
        <div class="timestamp">
            {{ post.posted_on }}<br>
            {{ post.posted_on|timesince }}
        </div>
      </div>

{% if friends %}
    <form action="{% url 'send_post_to_friend' post.id %}" method="POST">
        {% csrf_token %}
        <p>Select friends to send this post to:</p>
        {% for friend in friends %}
            <div>
                <input type="checkbox" name="friends[]" value="{{ friend.friend.id }}" id="friend_{{ friend.friend.id }}">
                <label for="friend_{{ friend.friend.id }}">{{ friend.friend.username }}</label>
            </div>
        {% endfor %}
        <button type="submit">Send To Selected Friends</button>
    </form>
{% else %}
    <p>No friends available to send this post to.</p>
{% endif %}



      {% if request.user.is_authenticated %}
        <section class="input-row" style="display: flex; padding-between: 10px;">
          <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %} submit-like" aria-hidden="true"></i>
          <div class="comment-input-wrapper">
            <input class="add-comment" style="margin-left: 10px; margin-top: -100px;" type="text" placeholder="Add a comment...">
          </div>
          <div class="hidden-data {{ post.pk }}" style="display: none;">
            <span class="post-pk">{{ post.pk }}</span>
          </div>
        </section>
      {% endif %}
    </div>

</div>

    </div>
      <div class="secondheader" style="
    display: flex;  white-space: normal;
  word-wrap: break-word; margin-left: auto; margin-right: auto;
  overflow: hidden;">


          <br>
          <br>
  </div>

<div class="split left" style="margin-left: 50px; padding-right: -200px;">
    <div class="image__wrapper" style="margin-top: 10%;">
      <img class="card__main-image" src="{{ post.image.url }}" style="height: 100vh;">
    </div>

</div>
<br>
  </div>
</div>
</body>
{% endblock %}
